<h1>Welkom {{ authenticated ? authenticator.fullName : 'vreemdeling' }}</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed sit amet neque congue nisi fringilla volutpat eget a sem.
    Maecenas enim enim, faucibus tempus massa et, finibus iaculis magna.
    Mauris gravida erat lacus, in faucibus ligula placerat ullamcorper.
    Nam est leo, tristique vitae quam dignissim, fermentum vestibulum nisl.
    Cras nisl nulla, sollicitudin nec metus ut, sollicitudin pulvinar magna.
    Nulla ultricies sem ut ornare dignissim. Etiam ac risus ipsum.
    Nullam egestas orci nec metus pretium hendrerit.
    Ut ullamcorper feugiat pellentesque.
</p>

<div class="panel panel-default" ng-if="!authenticated">
    
    <div class="panel-heading">
        Inloggen
    </div>
    
    <form name="loginForm" class="panel-body" ng-submit="login()" novalidate>
        
        <div class="form-group">
            <label class="control-label">E-mailadres</label>
            <input type="email" class="form-control" ng-model="$parent.email" ng-required="true" />
        </div>
        
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" ng-model="$parent.password" ng-required="true" />
        </div>
        
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="$parent.remember" />
                Gegevens onthouden
            </label>
        </div>
        
        <input type="submit" class="btn btn-primary" value="Inloggen" ng-disabled="loginForm.$invalid" />
        
    </form>
    
</div>